aside {
    height: 967px;
    width: 70mm;
    background-color: white;
    padding-left: 5mm;
}

aside section {
    padding-right: .5em;
}

#education p * {
    display: block;
}

h3 {
    margin-bottom: 0;
    font-size: 1.1em;
}

.skill {
    padding: 2px;
    line-height: 1.7em;
}

.skill.soft {
    background-color: dimgray;
    color: whitesmoke;
}

.skill.tech {
    background-color: rgba(250, 225, 32, .9);
    color: rgba(0, 0, 0, .8);
}