main {
    width: 140mm;
    background-color: hsl(0, 0%, 97%);
}

#jobs-timeline {
    margin-left: 1em;
    margin-right: 0.3em;
}

#jobs-timeline section {
    display: flex;
}

.era {
    border-left: 1px solid var(--border-color);
    margin-bottom: .5em;
}

.partial-border {
    width: 60%;
    border-top: 1px solid var(--border-color);
}

div.company * {
    display: block;
    margin-left: .3em;
}

.time-interval * {
    display: block;
    text-align: center;
    margin-right: .5em;
    padding-top: .2em;
}

.vertical-line {
    border-left: 1px solid var(--border-color);
    height: calc(100% - 2em);
    margin-left: 1em;
}

.vertical-line.hibridlevel-junior {
    height: calc(100% - 3.5em);
}

.vertical-line.milpress {
    height: calc(100% - 4.5em);
}

.vertical-line.due {
    height: calc(100% - 4.5em);
}

.vertical-line.dotted {
    border-left: 2px dotted var(--border-color);
    height: calc(100% - 2em);
    margin-left: 1em;
}

.vertical-line.dotted.full-height {
    height: 80%;
}

.jobs {
    padding: 0.5em;
}

section.blank {
    margin-left: .3em;
}

.blank.interval-2023-2019 {
    height: 6em;
}

.blank.interval-2018-2016 {
    margin: .3em 0 .3em .6em;
    height: 1em;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.blank.interval-2014-2012 {
    /*margin-top: 2.6em;*/
    height: 8.5em;
}

.no-bullets {
    list-style: none;
    padding-left: 0;
}

.parallel-jobs-left {
    width: 50%;
}

.parallel-jobs-right {
    width: 50%;
    margin-left: .4em;
}

.era.due {
    margin-top: 1em;
}