body {
    font-family: Arial, serif;
    margin: 0;
}

p {
    margin-top: .3em;
    margin-bottom: .3em;
}

h2 {
    border-left: .3em solid black;
    padding-left: .5em;
}

#a4page {
    width: 210mm;
    height: 297mm;
    border: 2px solid lightgray;
}

p, span, strong, em {
    /*font-size: 10pt;*/
    font-size: 10pt;
}

/* HEADER */

header {
    height: 41mm;
    background-color: rgba(250, 225, 32, .9);
}

#profile-picture-area {
    width: 277px;
}

#profile-picture-container {
    flex-grow: 1;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 1mm;
}

#contacts-container {
    background-color: white;
    width: 516px;
    height: 150px;
}

#contacts {
    padding-left: 1em;
}

.lastname {
    font-size: 1em;
    font-weight: bold;
}

#name {
    font-size: 2em;
}

#contacts ul {
    list-style: none;
    padding-left: 0;
    margin-right: 3em;
    font-size: 10pt;
}

#contacts a {
    text-decoration: none;
    color: black;
}

.logo-3th-party-service {
    height: .8em;
}

/* ASIDE */

aside {
    width: 70mm;
    background-color: white;
    padding-left: 5mm;
}

#education p * {
    display: block;
}

h3 {
    margin-bottom: 0;
}

.skill {
    padding: 2px;
    line-height: 1.7em;
}

.skill.soft {
    background-color: dimgray;
    color: whitesmoke;
}
.skill.tech {
    background-color: rgba(250, 225, 32, .9);
    color: rgba(0, 0, 0, .8);
}

/* MAIN*/

main {
    width: 140mm;
    background-color: rgba(99, 99, 99, 0.1);
}

#jobs-timeline {
    display: flex;
    margin-left: 1em;
}

.era {
    border-left: 1px solid black;
    margin-bottom: 1em;
}

.half-border {
    width: 60%;
    border-top: 1px solid black;
}

div.company * {
    display: block;
    margin-left: .3em;
}

.location {

}

.job-timeline-side section {
    display: flex;
}

.time-interval * {
    display: block;
    text-align: center;
    margin-right: .5em;
}

.vertical-line {
    border-left: 1px solid gray;
    height: calc(100% - 2em);
    margin-left: 1em;
}

.vertical-line.last {
    height: calc(100% - 4.5em);
}

.vertical-line.hibridlevel-junior {
    height: calc(100% - 3.5em);
}

.vertical-line.milpress {
    height: calc(100% - 4.5em);
}

.vertical-line.due {
    height: calc(100% - 4.5em);
}

.vertical-line.dotted {
    border-left: 2px dotted gray;
    height: calc(100% - 2em);
    margin-left: 1em;
}

.vertical-line.dotted.full-height {
    height: 80%;
}

.jobs {
    padding: 0.5em;
}

section.blank {
    margin-left: .3em;
}

.blank.interval-2023-2019 {
    /*margin-top: 2.6em;*/
    height: 6em;
}

.blank.interval-2018-2016 {
    margin: .3em 0 .3em .6em;
    height: 1em;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.blank.interval-2014-2012 {
    /*margin-top: 2.6em;*/
    height: 8.5em;
}

.no-bullets {
    list-style: none;
    padding-left: 0;
}

.flex {
    display: flex;
}

.parallel-jobs-left {
    width: 40%;
}

.parallel-jobs-right {
    width: 60%;
    margin-left: .2em;
}

.era.due {
    margin-top: 1em;
}

/* FOOTER */

footer {
    height: 20mm;
    width: 100%;
    background-color: #555555;
    color: whitesmoke;
}